<!-- Home page -->
<!doctype html>
<html>

<head>
    <!-- Stylesheets -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
    <!-- Top Navigation Menu -->
    <div class="topnav">
        <h1 class="logo"> HomeBuddy </h1>
        <a href="/">Home</a>
        <a href="/add_device">Add Device</a>
        <a href="/device_status">Device Status</a>
        <a href="/control_device">Control device</a>
        <a href="/delete_device">Delete Device</a>
    </div>
</head>

<body>
    <div id="container">
        <p>Welcome back, <strong>Buddy</strong></p>
        <p><strong>About Us</strong>
          <br>  HomeBuddy is a web app to view, manage and control your home smart devices. <br> HomeBuddy was developed using HTML, CSS, Javascript, EJS, Express and MySQL.
        </p>
        <!-- Quick Links to Pages -->
        <h2> Quick Links</h2>
        <p><a href="/add_device">Add Device</a></p>
        <p><a href="/device_status">Device Status</a></p>
        <p><a href="/control_device">Control device</a></p>
        <p><a href="/delete_device">Delete Device</a></p>
    </div>
    
    <footer>
        <div class="footer">
            <p>HomeBuddy Solutions</p>
        </div>
    </footer>
</body>

</html>